{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <!--  -->
  {% for item in skills.items %}
  <h4 class="skill-category"><b>{{ item.category }}</b></h4>
  <div class="skill-elements">
    <ul>
      {% for element in item.elements %}
      <li>{{ element.name }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

  <!--  -->
</section>
{% endif %}